# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.vscode
camtrack/__pycache__
camtrack/video1.mov
dataset/
a.txt
b.txt
a.yml
b.yml
x.yml
y.yml
all.txt

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook
.ipynb_checkpoints
